
.buttons{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 2rem;
    
}
.video{
    max-width: 1280;
    max-height: 720;
}

#stop{
    display: none;
}

button{
    width: 8rem;
    height: 2.5rem;
    border: 0.2rem solid black;
    border-radius: 10%;
    background-color: white;
    

}